.header {
    height: 110px;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.logo {
    margin-left: 40px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.logo img {
    max-width: 110px;
}

.header .nav {
    display: flex;
    gap: 12px;
    cursor: pointer;
}

.header .nav ul {
    display: flex;
}

.header-nav-text {
    padding: 6px 32px;
    transition: 1s;
}

.header-nav-text:hover {
    color: var(--secondary-color);
}


.profile {
    position: absolute;
    right: 0;
    margin-right: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 12px;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--darkgray-color);
    height: 48px;
    width: 48px;
    border-radius: 100px;
    cursor: pointer;
}

.profile-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--darkgray-color);
    padding: 4px 16px;
    border-radius: 40px;
    cursor: pointer;
}

.profile-detail .profilepic {
    max-height: 40px;
}

#menu {
    display: none;
}

@media(max-width: 1340px) {
    #menu {
        display: flex;
    }
    .header .nav {
        display: none; 
    }
    .nav.open{
        display: flex; 
        flex-direction: column; 
        position: absolute; 
        top: 110px; 
        right: 0;
        background: #343434cd;
        border-radius: 20px; 
        z-index: 1000; 
    }
    .nav.open ul{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 10px 4px;
        text-align: center;
        
    }
}

@media(max-width: 940px) {
    #notif {
        display: none;
    }
    .profile-detail p {
        display: none;
    }
}