*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--white-color);
    outline: none;
    box-shadow: none; 
}
